#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Roboto, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media only screen and (min-width: 1042px) and (max-width: 1285px) {
  .eventName {
    font-size: 12px;
    margin-bottom: 0.3px;
  }
  .cards {
    min-height: 92%;
  }
  .cards img {
    width: 100%;
    height: 60%;
  }
  .eventDetails {
    font-size: 8px;
  }
  .capsuleFilter button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1042px) {
  .capsuleFilter button {
    margin: 0 2px;
    font-size: 10px;
  }
  .cardBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }

}

@media only screen and (max-width: 950px) {
  .cardBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }



  .capsuleFilter button {
    display: none;
  }
  .signinBtn{
    padding: 1px 1px;
    font-size: x-small;
  }
  .cardBody{
    display: grid;
    grid-template-columns: 1fr;
  }
  .heading{
    font-size: 25px;
  }
  
}

